<%- include("../../partials/header"); %>

<div class="root">
    <div class="header">
        <div class="main-heading">
            <div class="image">
                <img src="/user_images/<%=user.image%>" alt="pic">
            </div>
            <div class="h1">
                <h1>Welcome <%= user.first_name %>  <%= user.last_name %></h1>
            </div>
        </div>
        <h3>How can I assist you today?</h3>

        <% if (data.deposit_success === true) { %>
            <h3>Amount Deposited Successfully </h3>
        <% } else if (data.withdraw_success === true) { %>
            <h3>Amount Withdrawn Successful</h3>
        <% } else if (data.check_balance === true) { %>
            <h3>Your Current Balance is: <%= user.amount %></h3>
        <% } else if (data.send === true) {%>
            <h3>Rs. <%= data.amount_sent %> has been successfully sent to <%= data.receipent_name %></h3>
            <h3>Your remaining balance is: <%= data.remaining_amount %></h3>
        <% } else if (data.user_do_not_exists === true) {%>
            <h3>No account found with provided email</h3>
        <% } else if (data.cancel_transaction === true) {%>
            <h3>Transaction Cancelled</h3>
        <% } else if (data.insufficient_balance === true) {%>
            <h3>Insufficient Balance </h3>
        <% } else if (data.invalid_password === true) {%>
            <h3>Invalid Password </h3>
        <% } else if (data.masg === true) {%>
            <h3> <%= data.data %> </h3>
            <h3> your remaining balance is: <%= data.amount %></h3>
        <% } else if (data.bank_does_not_exists === true) {%>
            <h3>Bank Doesn't Exists </h3>
        <% } %>
    </div>
    <div class="middle">
        <a href="/deposit"><button>Deposit</button></a>
        <a href="/withdraw"><button>Withdraw</button></a>
        <a href="/check_balance"><button>Check Balance</button></a>
        <a href="/other_bank"><button>Send Amount</button></a>
<!--        <a href="/other_bank"><button>Other Bank</button></a>-->
        <a href="/logout"><button>Logout</button></a>
    </div>
</div>

<%- include("../../partials/footer"); %>